.Header {
    color: #ffcc66;
    font-family: cursive;
    text-align: center;
}

#Intro {
    padding-right: 300px;
}

#Title em {
    font-style: normal;
    color: orangered;
    font-weight: bolder;
    font-family: sans-serif
}

#ingredients{
    text-align: center;
    overflow-y: auto;
}